- content_for :title do
  Flexportmini Online Articles

.jumbotron.shadow.parallax(style="background-image: url('ship.png');background-size: auto;
            background-repeat: no-repeat;")
  %h1.text-shadow
    %b Take Control of Your Supply Chain
  .p-4
  - if current_user
    .p-3
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        = f.search_field :title_cont, class: 'form-control-lg', style: 'float: left; width: 200px; ', placeholder: 'Find a airticle', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-primary.btn-lg{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
    .p-2
  - else
    %h3.text-shadow Ship, Track, and Scale in Just a Few Clicks
    

.card-group.shadow
  .card
    .card-body
      %h1
        .fa.fa-infinity
      Find Out What Your Supply Chain Can Really Do
  .card
    .card-body
      %h1
        .fa.fa-infinity
      Raise the Bar on Your Supply Chain
  .card
    .card-body
      %h1
        .fa.fa-infinity
      10,000+ Companies Choose Flexportmini
  .card
    .card-body
      %h1
        .fa.fa-infinity
      Lead Positive Change for the World

%p

%h2 
  .fa.fa-tags
  Top Categories
- @popular_tags.each do |tag|
  = link_to courses_path(courses_search: {course_tags_tag_id_eq: tag.id}) do
    .mt-1.btn.btn-info
      = tag.name
      %span.badge.badge-light
        = tag.course_tags_count
%hr

%h2
  .fa.fa-chart-line
  = link_to 'Popular courses', courses_path(courses_search: {s: 'enrollments_count desc'})
.row
  - @courses.each do |course|
    = render 'courses/course_landscape', course: course
    %p

.card-group.shadow
  .card
    .card-body
      %b
        .fa.fa-clock
        Classify Products Accurately
  .card
    .card-body
      %b
        .far.fa-check-circle
        Clear Goods Faster with Flexportmini
  .card
    .card-body
      %b
        .far.fa-play-circle
        A Fresh Approach to Clear High Value Goods
      
